/* .jumbotron {
    background-image: url("../images/banner.png") fixed center no-repeat;
    background-size: cover;

} */

.unlock-icon {
    width: 5rem;
    height: 5rem;
    text-align: center;
  }
